<ng-template #noMessages>
  <div class="no-messages">
    <img src="/assets/no-messages-illustration.svg" />
    <span class="title">No new message?</span>
    <span class="info">Send your first message below.</span>
  </div>
</ng-template>

<div class="main">
  <div class="user-info">{{ authService?.currentUser.name }}</div>
  <div *ngIf="messages; else noMessages" class="messages-container">
    <ul>
      <li
        *ngFor="let message of messages"
        [style.flex-direction]="message.isOwn ? 'row-reverse' : 'row'"
      >
        <img src="/assets/profile-man.svg" />
        <span
          [ngClass]="message.isOwn ? 'speech-bubble-own' : 'speech-bubble'"
          >{{ message.text }}</span
        >
      </li>
    </ul>
  </div>
  <div class="input-container">
    <input
      placeholder="Type something"
      #messageInput
      (keydown.enter)="
        onSendMessage(messageInput.value); messageInpu.value = ''
      "
    />
  </div>
</div>
