<div class="chat-toolbar">
  <div class="logo">
    <img src="assets/chat-logo.svg" />
    <span>Chat</span>
  </div>
  <div *ngIf="authService.currentUser" class="user-profile">
    <span>
      Welcome, <b> {{ authService.currentUser.name }}</b>
    </span>
    <img [src]="authService.currentUser.avatar" width="36px" height="37px" />
  </div>
</div>
<div class="chat-page">
  <div class="chat-box">
    <app-contacts-list
      (userSelected)="onUserSelected($event)"
    ></app-contacts-list>
    <app-messages-view
      [messages]="messages"
      [selectedUserName]="selectedUser?.name"
      (sendMessage)="onSendMessage($event)"
    ></app-messages-view>
  </div>
</div>
