@import '../../styles/full-bk.scss';

.chat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6.5px 20px;
  background-color: white;
  top: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin-left: 10px;
  color: #2d313f;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.chat-page {
  @include full-bk('/assets/chat-bk.svg');
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.chat-box {
  display: flex;
  align-items: stretch;
  background: #fffffe;
  box-shadow: 0px 2px 36px rgba(45, 49, 63, 0.357436);
  border-radius: 6px;
  margin: 100px auto 50px;
  max-width: 800px;
  width: calc(100% - 20px);
  height: 500px;
  max-height: calc(100% - 20px)
}

@media (max-width: 450px) {
  .user-profile span {
    display: none;
  }
}