<div class="login-page">
  <div class="login-box">
    <div class="login-content">
      <h1>Welcome Back</h1>
      <form (ngSubmit)="login(userId.value)">
        <mat-form-field>
          <input matInput placeholder="User ID" type="email" #userId />
          <mat-error *ngIf="error">
            {{ error }}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">LOG IN</button>
      </form>
      <div>
        <span>Don't have an account?</span>
        <a routerLink="/signup">Sign up</a>
      </div>
    </div>
    <img src="assets/chat-illustration-1.svg" />
  </div>
</div>
