<div class="login-page">
  <div class="login-box">
    <img src="assets/chat-illustration-2.svg" />
    <div class="login-content">
      <h1>Create an Account</h1>
      <form ngSubmit="login()">
        <mat-form-field>
          <input matInput placeholder="Email" type="email" />
          <mat-error *ngIf="false">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">SIGN UP</button>
      </form>
      <div>
        <span>Do you have an account?</span>
        <a routerLink="/login">Log in</a>
      </div>
    </div>
  </div>
</div>
